header {
  background-color: gray;
  padding: 6px;
  text-align: center;
}

.col-3 {
  display: inline-block;
  width: 25%;
}

.col-6 {
  display: inline-block;
  width: 50%;
}

.initial-message-container {
  text-align: center;
}

.categories-container {
  display: inline-block;
  padding: 20px;
  width: 20%;
}

.categories-container > input {
  display: block;
  margin: 6px 0;
  width: 100%;
}

.products-result-container {
  display: inline-block;
  padding: 20px;
  text-align: center;
  width: 80%;
}

.main-content {
  display: flex;
}

.main-card-item {
  border: lightgray 1px solid;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  display: inline-block;
  margin: 6px;
  padding: 8px;
  text-align: center;
  width: 300px;
}

.main-card-item > p {
  max-width: 95%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
